<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="">
    <meta name="author" content="<%-config.author%>">
    <%- autoCanonical(config, page) %>
    <link rel="icon" href="favicon/favicon.ico">
    <title><%- config.title + (page.title ? ' | ' + page.title : '') %></title>
    <script>
        async function dispatch() {
            try {
                const controller = new AbortController();
                const timeoutId = setTimeout(() => controller.abort(), 500);
                const response = await fetch('<%- config.inet_url %>/handshake', { signal: controller.signal });
                if (response.ok) {
                    window.location.href = '<%- config.inet_url %><%- config.inet_root %>' + window.location.pathname + window.location.search;
                }
            } catch (error) {}
        }
        if (window.location.origin !== '<%- config.inet_url %>') {
            dispatch();
        }
    </script>

    <% if (page.layout === 'index') { %>
    <%- css(['styles/tailwind.css', 'styles/smart-window.min.css']) %>
    <% } %>
    <%- css(['styles/normalize.min.css', 'styles/fonts.min.css', 'styles/main.min.css', 'styles/avatar.min.css', 'styles/post.min.css', 'styles/hljs.min.css']) %>
    <% if (theme.analytics.gtag) { %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- theme.analytics.gtag %>"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%- theme.analytics.gtag %>');
    </script>
    <% } %>
</head>