<div class="page">
    <div class="header left">
        <%- partial('_partial/avatar') %>
    </div>
    <div class="header right">
        <h1><%= config.name %></h1>
        <span>
            <a href="/resume">RESUME</a> | 
            <a href="https://github.com/pan2013e">GITHUB</a> | 
            <a href="https://twitter.com/shaaauuuuna">TWITTER</a> | 
        </span>
        <br>
        <span><%= config.description %></span>
    </div>
    
    <div class="updates left bold">
        Updates
    </div>
    <div class="updates right">
        <% let update_count = 1; %>
        <% site.posts.sort('date', 'desc').each(function(item, i){ %>
            <% if (update_count > 5) return; %>
            <% if(theme[0].update_items.includes(item.layout)) { %>
                <% update_count++; %>
                <%- partial('_partial/article-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
    </div>

    <div class="publication left bold">
        Publications
    </div>
    <div class="publication right">
        <% 
          var cItems = [], jItems = [], pItems = []; 
          site.posts.sort('date', 'desc', -1).forEach(function(item) {
              if (item.layout === 'paper') {
                  if (item.type === 'conference') cItems.push(item);
                  if (item.type === 'journal') jItems.push(item);
                  if (item.type === 'preprint') pItems.push(item);
              }
          });
        %>
        <% cItems.forEach(function(item, idx) { %>
          <div>
              <span class="inline">
                  <%- `[C${cItems.length - idx}]` %>
                  <%- item.venue %>:
              </span>
              <a href="<%- config.root %><%- item.path %>">
                  <%- item.title %>
              </a>
          </div>
        <% }); %>
        <% if (jItems.length > 0) { %>
          <hr>
        <% } %>
        <% jItems.forEach(function(item, idx) { %>
          <div>
              <span class="inline">
                  <%- `[J${jItems.length - idx}]` %>
                  <%- item.venue %>:
              </span>
              <a href="<%- config.root %><%- item.path %>">
                  <%- item.title %>
              </a>
          </div>
        <% }); %>
        <% if (pItems.length > 0) { %>
          <hr>
        <% } %>
        <% pItems.forEach(function(item, idx) { %>
          <div>
              <span class="inline">
                  <%- `[P${pItems.length - idx}]` %>
                  <%- item.venue %>:
              </span>
              <a href="<%- config.root %><%- item.path %>">
                  <%- item.title %>
              </a>
          </div>
        <% }); %>
    </div>

    <div class="projects left bold">
        Projects
    </div>
    <div class="projects right">
        <% site.posts.sort('date', 'desc').each(function(item){ %>
            <% if(item.layout === 'project') { %>
                <%- partial('_partial/project-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
    </div>

    <div class="projects left bold">
        Blog posts
    </div>
    <div class="projects right">
        <% site.posts.sort('date', 'desc').each(function(item){ %>
            <% if(item.layout === 'blog') { %>
                <%- partial('_partial/blog-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
    </div>

    <%- partial('_partial/footer') %>
</div>