<div class="page">
    <div class="header left">
        <%- partial('_partial/avatar') %>
    </div>
    <div class="header right">
        <h1 class="bold"><%- config.name %></h1>
        <span>
            <% theme.social.forEach(function(item, idx) { %>
                <a href="<%- item.url %>"><%- item.name %></a>
                <% if (idx < theme.social.length - 1) { %>
                    <span class="inline">|</span>
                <% } %>
            <% }); %>
        </span>
        <br>
        <span><%- config.description %></span>
    </div>
    <div class="updates left bold">
        News
    </div>
    <div class="updates right">
        <% let update_count = 1; %>
        <% site.posts.sort('date', 'desc').each(function(item, i){ %>
            <% if (update_count > 5) return; %>
            <% if (theme.update_items.includes(item.layout)) { %>
                <% update_count++; %>
                <%- partial('_partial/article-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
        <div updates-count="<%- update_count %>"></div>
    </div>
    <script>
        var count = document.querySelector('.updates.right div[updates-count]');
        if (count.getAttribute('updates-count') === '1') {
            document.querySelector('.updates.left').remove();
            document.querySelector('.updates.right').remove();
        }
    </script>
    <div class="education left bold">
        Education
    </div>
    <div class="education right">
        <ul class="info-enum" style="margin-top: 0;">
            <% theme.info.education.forEach(function(item, idx) { %>
                <li item-tag="[E<%- theme.info.education.length - idx %>]">
                    <span class="inline">
                        <strong class="inline"><%- item.degree %></strong>,
                        <em class="inline"><%- item.institution %></em>
                    </span>
                    <br>
                    <em class="inline"><%- item.duration %></em>
                    <% if (item.sub_institution) { %>
                        <em class="inline">@ <%- item.sub_institution %></em>
                    <% } %>
                    <% if (item.misc) { %>
                        <br>
                        <ul>
                            <% for (content of item.misc) { %>
                            <li><%- content %></li>
                            <% } %>
                        </ul>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="awards left bold">
        Awards
    </div>
    <div class="awards right">
        <ul class="info-enum" style="margin-top: 0;">
            <% var aItems = theme.info.awards.sort((a, b) => b.year - a.year); %>
            <% aItems.forEach(function(item, idx) { %>
                <li item-tag="[A<%- idx + 1 %>]">
                    <strong class="inline"><%- item.name %></strong>
                    <span class="inline">(<%- item.year %>),</span>
                    <em class="inline"><%- item.committee %></em>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="publication left bold">
        Selected Publications<br>
        <a href="/publications">(Full List)</a>
    </div>
    <div class="publication right">
        <ul class="info-enum" style="margin-top: 0;">
            <% 
            var cItems = [], jItems = [], pItems = []; 
            site.posts.sort('date', 'desc', -1).forEach(function(item) {
                    if (item.layout === 'paper' && item.selected === true) {
                        if (item.type === 'conference') cItems.push(item);
                        if (item.type === 'journal') jItems.push(item);
                        if (item.type === 'preprint') pItems.push(item);
                    }
            });
            %>
            <% cItems.forEach(function(item, idx) { %>
                <li item-tag="<%- `[C${cItems.length - idx}]` %>">
                    <a href="<%- config.root %><%- item.path %>" class="inline">
                        <strong><%- item.title %></strong>
                    </a>,
                    <em class="inline"><%- item.venue %></em>
                </li>
            <% }); %>
            <% if (jItems.length > 0) { %>
                <hr>
            <% } %>
            <% jItems.forEach(function(item, idx) { %>
                <li item-tag="<%- `[J${jItems.length - idx}]` %>">
                    <a href="<%- config.root %><%- item.path %>" class="inline">
                        <strong><%- item.title %></strong>
                    </a>,
                    <em class="inline"><%- item.venue %></em>
                </li>
            <% }); %>
            <% if (pItems.length > 0) { %>
                <hr>
            <% } %>
            <% pItems.forEach(function(item, idx) { %>
                <li item-tag="<%- `[P${pItems.length - idx}]` %>">
                    <a href="<%- config.root %><%- item.path %>" class="inline">
                        <strong><%- item.title %></strong>
                    </a>,
                    <em class="inline"><%- item.venue %></em>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="projects left bold">
        Projects
    </div>
    <div class="projects right">
        <% let project_count = 1; %>
        <% site.posts.sort('date', 'desc').each(function(item){ %>
            <% if(item.layout === 'project') { %>
                <% project_count++; %>
                <%- partial('_partial/project-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
        <div projects-count="<%- project_count %>"></div>
    </div>
    <script>
        var count = document.querySelector('.projects.right div[projects-count]');
        if (count.getAttribute('projects-count') === '1') {
            document.querySelector('.projects.left').remove();
            document.querySelector('.projects.right').remove();
        }
    </script>
    <div class="blogs left bold">
        Blog posts
    </div>
    <div class="blogs right">
        <% let blog_count = 1; %>
        <% site.posts.sort('date', 'desc').each(function(item){ %>
            <% if(item.layout === 'blog') { %>
                <% blog_count++; %>
                <%- partial('_partial/blog-excerpt', {item: item}) %>
            <% } %>
        <% }); %>
        <div blog-count="<%- blog_count %>"></div>
    </div>
    <script>
        var count = document.querySelector('.blogs.right div[blog-count]');
        if (count.getAttribute('blog-count') === '1') {
            document.querySelector('.blogs.left').remove();
            document.querySelector('.blogs.right').remove();
        }
    </script>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/smart-window') %>
</div>